server:
  port: 4004

spring:
  cloud:
    gateway:
      routes:
        - id: patient-service-patients-exact
          uri: http://patient-service:4000
          predicates:
            - Path=/api/patients
          filters:
            - StripPrefix=1

        - id: patient-service-patients-wildcard
          uri: http://patient-service:4000
          predicates:
            - Path=/api/patients/**
          filters:
            - StripPrefix=1

        - id: api-docs-patient-route
          uri: http://patient-service:4000
          predicates:
            - Path=/api-docs/patients
          filters:
            - RewritePath=/api-docs/patients,/v3/api-docs

logging:
  level:
    org.springframework.cloud.gateway: DEBUG